$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    .card {
        max-width: 450px;
        .order {
        }
        .plan {
            display: grid;
            grid-auto-flow: column;
            .text {
                text-align: left;
                h2 {
                    margin: 0px;
                }
                p {
                    margin: 0px;
                }
            }
        }
        .button {
        }
        .attribution {
        }
    }
}